{% extends 'base.html' %}

{% block title %}PNG Sorter{% endblock %}

{% block sidebar %}
<h1><p>Rate this image =></p></h1>
        <h2>make sure this page is selected<br>then press 1, 2, 3 or 4</h2>
        <ul>
            <li><span id="special">&nbsp;1&nbsp;</span>= Best</li>
            <li><span id="special">&nbsp;2&nbsp;</span>= Mid</li>
            <li><span id="special">&nbsp;3&nbsp;</span>= Bad</li>
            <li><span id="special">&nbsp;4&nbsp;</span>= Worst</li>
          </ul>
<br><br><br>
<a class="button button1" href="{{ url_for('analysis') }}" class="button button1">Analysis</a>
<br><br><br><br><br>
<div id="last_action_msg"></div>
<div id="keyboard_btns"></div>
<script>
const buttonContainer = document.getElementById("keyboard_btns");

const buttonData = [
    { label: "___1___", endpoint: "/best" },
    { label: "___2___", endpoint: "/mid" },
    { label: "___3___", endpoint: "/bad" },
    { label: "___4___", endpoint: "/worst" }
];

for (const button of buttonData) {
    const newButton = document.createElement("button");
    newButton.innerHTML = button.label;
    newButton.className = "button3";
    newButton.addEventListener("click", () => {
        fetch(button.endpoint + '?image=' + filename)
            .then(response => response.text())
            .then(text => {
                document.getElementById("last_action_msg").innerHTML = text;
            })
            .catch(error => console.error(error))
        getImage()
    });
    buttonContainer.appendChild(newButton);
}

const backButton = document.createElement("button");
backButton.innerHTML = "<====";
backButton.className = "button3";
backButton.addEventListener("click", () => {
    fetch('/undo')
        .then(response => response.text())
        .then(text => {
            document.getElementById("last_action_msg").innerHTML = text;
        })
        .catch(error => console.error(error))
});
buttonContainer.appendChild(backButton);

</script>
{% endblock %}

{% block content %}
  <body>
    <h1 id="page-header"></h1>
    <img id="myimgid" src="" alt="My Image" style="max-width: 100%; height: auto;">
  </body>
    <script>
    filename = ""
    function getImage(){
        fetch('/next')
            .then(response => response.text())
            .then(text => {
                filename = text
                document.getElementById("page-header").innerHTML = filename
                fetch('/png_info?img_name=' + filename)
                    .then(response => response.text())
                    .then(text => {
                        divtextcontent = text
                        document.getElementById("pageFooter").innerHTML = divtextcontent
                    })
                document.querySelector("#myimgid").src = "/image?file=" + text 
            })
            .catch(error => console.error(error))
    }
    getImage()   
    document.addEventListener('keydown', (e) => {
        if(e.key == '1'){
            fetch('/best?image=' + filename)
                .then(response => response.text())
                .then(text => {
                    document.getElementById("last_action_msg").innerHTML = text;
                })
                .catch(error => console.error(error))
            getImage()
        }
        else if(e.key == '2'){
            fetch('/mid?image=' + filename)
                .then(response => response.text())
                .then(text => {
                    document.getElementById("last_action_msg").innerHTML = text;
                })
                .catch(error => console.error(error))
            getImage()
        }  
        else if(e.key == '3'){
            fetch('/bad?image=' + filename)
                .then(response => response.text())
                .then(text => {
                    document.getElementById("last_action_msg").innerHTML = text;
                })
                .catch(error => console.error(error))
            getImage()
        }  
        else if(e.key == '4'){
            fetch('/worst?image=' + filename)
                .then(response => response.text())
                .then(text => {
                    document.getElementById("last_action_msg").innerHTML = text;
                })
                .catch(error => console.error(error))
            getImage()
        }
        else if(e.key == 'Enter'){
            getImage()
            document.getElementById("last_action_msg").innerHTML = "skipped"
        }
        else if(e.key === 'Backspace' || e.keyCode === 8){
            e.preventDefault();
            fetch('/undo')
                .then(response => response.text())
                .then(text => {
                    document.getElementById("last_action_msg").innerHTML = text;
                })
                .catch(error => console.error(error))
        }
    })
    </script>
{% endblock %}